


<app-nav-admin></app-nav-admin>
<form class="form">
    <span class="signup">Biblioteca Salvatore</span>

    <span class="title">PRESTAR LIBRO</span>


    <div class="separator">
        <hr class="line">
        <p>idlibro</p>
        <hr class="line">
      </div>
      <div class="input-group mb-3">
        <input  id="id_libro" name="id_libro" [(ngModel)]="id_libro" type="text" class="form-control" placeholder="idlibro" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#modalLibros"><i class="fas fa-search"></i></button>
        </div>
      </div>

      <div class="separator">
        <hr class="line">
        <p>Nombre libro</p>
        <hr class="line">
      </div>
        <input type="text" class="input" id="nombre" name="nombre" [(ngModel)]="nombre" placeholder="nombre" class="form--input" required>
       
        
      <div class="separator">
        <hr class="line">
        <p>Nombre usuario</p>
        <hr class="line">
      </div>
        <input type="text" class="input"  id="nombre_usuario" name="nombre_usuario" [(ngModel)]="nombre_usuario"  placeholder="Nombre usuario" class="form--input" disabled>

        
      <div class="separator">
        <hr class="line">
        <p>Fecha prestamo</p>
        <hr class="line">
      </div>
        <input type="text" class="input" id="fecha" name="fecha" [(ngModel)]="fecha" placeholder="fecha actual" class="form--input" required disabled>

         
      <div class="separator">
        <hr class="line">
        <p>Fecha entrega</p>
        <hr class="line">
      </div>
        <input type="date" class="input" id="fechaFin" name="fechaFin" [(ngModel)]="fechaFin" placeholder="fecha final" class="form--input" required>

    
        <input type="text" class="input" id="estado" name="estado" [(ngModel)]="estado" placeholder="estado" class="form--input" required hidden>
        <input type="text" class="input" id="idprestar" name="idprestar" [(ngModel)]="idprestar" placeholder="idprestar" class="form--input" required hidden>

    <button class="form--submit" (click)="guardarPrestamo()">
        Registrar
    </button>
    
    <button class="form--submit" (click)="limpiar()">Limpiar</button>
</form>







<!-- Modal libros -->
<div class="modal fade bd-example-modal-lg" id="modalLibros" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">idlibro</th>
            <th scope="col">Nombre</th>              
            <th scope="col">Autor</th>              
            <th scope="col">Genero</th>              
            <th scope="col">Editorial</th>              
            <th scope="col">Estado</th>              
            <th scope="col">Estante</th>              
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let item of listadoLibros">
            <th scope="row">
              <a [routerLink]=""  data-dismiss="modal">{{ item.id_libro }}</a>
            </th>
            <td><a [routerLink]=""  data-dismiss="modal" (click)="selectLibros(item)">{{ item.nombre }}</a></td>
            <td><a [routerLink]=""  data-dismiss="modal" (click)="selectLibros(item)">{{ item.autor }}</a></td>
            <td><a [routerLink]=""  data-dismiss="modal" (click)="selectLibros(item)">{{ item.genero }}</a></td>
            <td><a [routerLink]=""  data-dismiss="modal" (click)="selectLibros(item)">{{ item.editorial }}</a></td>
            <td><a [routerLink]=""  data-dismiss="modal" (click)="selectLibros(item)">{{ item.estado }}</a></td>
            <td><a [routerLink]=""  data-dismiss="modal" (click)="selectLibros(item)">{{ item.id_estante }}</a></td>
          </tr>
          
        </tbody>
      </table>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="modalEstante" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Estantes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <table class="table">
          <thead class="thead-dark">
            <tr >
              <th scope="col">idestante</th>
              <th scope="col">Nombre</th>              
              <th scope="col">genero_libro</th>              
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let item of listadoEstantes">
              <th scope="row">
                <a [routerLink]="" data-dismiss="modal" (click)="selectEstantes(item)"> {{ item.id_estante }}</a>
              </th>
              <td><a [routerLink]="" data-dismiss="modal" (click)="selectEstantes(item)"> {{  item.nombre }}</a></td>
              <td><a [routerLink]="" data-dismiss="modal" (click)="selectEstantes(item)"> {{  item.genero_lib }}</a></td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>